<div class="col-sm-6">
    <a ui-sref="adminCreateCategory" class="btn btn-info margin-bottom-15">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Create Category
    </a>
    <table class="table table-responsive table-hover table-condensed">
        <thead>
            <tr class="info">
                <th>Id</th>
                <th>Category</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="category in categories.categories">
                <td ng-bind="category.id"></td>
                <td ng-bind="category.name"></td>
                <td>
                    <a ui-sref="adminEditCategory({catId: category.id})" class="btn btn-info btn-xs">Edit</a>
                    <button class="btn btn-info btn-xs" ng-click="delete(category)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="clearfix"></div>
<div class="row" ng-show="categories.numItems > (itemsPerPage*2)">
    <pagination total-items="categories.numItems" items-per-page="itemsPerPage*2" ng-model="currentPage" ng-click="loadPage()"></pagination>
</div>