<div class="col-sm-8">
    <form name="editForm">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Create Category</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-11">
                        <!-- Name input-->
                        <div class="form-group">
                            <label class="control-label" for="name">Category: <span class="text-danger">*</span></label>
                            <input ng-model="category.name" id="name" name="name" placeholder="Category name" class="form-control input-md" ng-required="true" type="text">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-11 col-xs-12 margin-top-15">
                            <!-- Button -->
                            <button ng-click="editForm.$valid && create()" id="publish" name="publish" class="btn btn-primary">Create</button>
                            <div class="pull-right">
                                <a ui-sref="adminCategories" class="btn btn-default">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>