<div class="col-sm-6">
    <a ui-sref="adminCreateTown" class="btn btn-info margin-bottom-15">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Create Town
    </a>
    <table class="table table-responsive table-hover table-condensed">
        <thead>
            <tr class="info">
                <th>Id</th>
                <th>Town</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="town in towns.towns">
                <td ng-bind="town.id"></td>
                <td ng-bind="town.name"></td>
                <td>
                    <a ui-sref="adminEditCategory({townId: town.id})" class="btn btn-info btn-xs">Edit</a>
                    <button class="btn btn-info btn-xs" ng-click="delete(town)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="clearfix"></div>
<div class="row" ng-show="towns.numItems > (itemsPerPage*2)">
    <pagination total-items="towns.numItems" items-per-page="itemsPerPage*2" ng-model="currentPage" ng-click="loadPage()"></pagination>
</div>