<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">×</button>
        <h4 class="modal-title text-danger">Confirm deleting user</h4>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete this user: </p>
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span ng-bind="user.name"></span>
                </h3>
            </div>
            <div class="panel-body">
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-sm-3">Username: </div>
                        <div class="col-sm-9" ng-bind="user.username"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">Name: </div>
                        <div class="col-sm-9" ng-bind="user.name"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">Email: </div>
                        <div class="col-sm-9">
                            <a ng-href="mailto: {{user.email}}" ng-bind="user.email"></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">Phone: </div>
                        <div class="col-sm-9" ng-bind="user.phoneNumber"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">Town: </div>
                        <div class="col-sm-9" ng-bind="user.townName | emptyToDash"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-click="ok()" type="button" class="btn btn-primary">Ok</button>
        <button ng-click="cancel()" type="button" class="btn btn-default">Cancel</button>
    </div>
</div>