<form class="form-horizontal col-sm-12" name="loginForm">
        <h2>Login</h2>
        <label for="username">Username:</label>
        <input type="text" autofocus="" placeholder="Username" class="form-control" id="username" ng-required="true">
        <label for="inputPassword">Password</label>
        <input type="password" required="" placeholder="Password" class="form-control" id="inputPassword" ng-required="true">
        
        <button type="submit" class="btn btn-lg btn-primary btn-block">Login</button>
        <a href="#">Register here</a>
</form>