<form name="publishForm">
    <fieldset>
        <!-- Form Name -->
        <legend>Publish New Ad</legend>
        <div class="row">
            <div class="col-sm-6">
                <!-- Title input-->
                <div class="form-group">
                    <label class="control-label" for="title">Title: </label>
                    <input ng-model="ad.title" id="title" name="title" placeholder="Title" class="form-control input-md" ng-required="true" type="text">
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="control-label" for="text">Text: </label>
                    <textarea ng-model="ad.text" id="text" name="text" placeholder="Text" class="form-control" ng-required="true"></textarea>
                </div>



                <!-- Category input-->
                <div class="form-group">
                    <label class="control-label" for="image">Category: </label>
                    <select id="category" name="category" class="form-control"
                            ng-options="category.id as category.name for category in allCategories"
                            ng-model="ad.categoryId">
                        <option value="">Choose Category...</option>
                    </select>
                </div>

                <!-- Category input-->
                <div class="form-group">
                    <label class="control-label" for="image">Town: </label>
                    <select id="category" name="town" class="form-control"
                            ng-options="town.id as town.name for town in allTowns"
                            ng-model="ad.townId">
                        <option value="">Choose Town...</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-6">
                <!-- Image input-->
                <div class="form-group">
                    <img src="../../Content/images/nophoto.jpg" class="img-responsive" id="image-preview" style="max-width: 300px;"/>
                    <label class="control-label" for="image">Image: </label>
                    <input type="file" id="image" name="image" placeholder="Image" class="form-control input-md"
                           ng-model="ad.image"
                           onchange="angular.element(this).scope().fileSelected(this)" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-sm-5 col-xs-12">
                    <!-- Button -->
                    <button ng-click="publishForm.$valid && publish()" id="publish" name="publish" class="btn btn-primary">Publish</button>
                    <div class="pull-right">
                        <a ui-sref="myAds" class="btn btn-default">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>
