<div class="col-sm-12">
    <div ng-repeat="ad in ads.ads">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span ng-bind="ad.title"></span>
                    <span class="pull-right" ng-bind="ad.date| date:'dd/MMM/yyyy'"></span>
                </h3>
            </div>
            <div class="panel-body">
                <div class="col-sm-9">
                    <div class="col-sm-3">
                        <img ng-src="{{ad.imageDataUrl}}" src="../../Content/images/nophoto.jpg" class="img-responsive" />
                    </div>
                    <div class="col-sm-9">
                        <div class="well" ng-bind="ad.text"></div>
                        <div class="row">
                            <div class="col-sm-3">Category: </div>
                            <div class="col-sm-9" ng-bind="ad.categoryName|emptyToDash"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">Town: </div>
                            <div class="col-sm-9" ng-bind="ad.townName|emptyToDash"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="well col-sm-12" ng-bind="ad.status|adStatus"></div>
                    <button ng-click="deactivate(ad)" ng-show="isPublishedOrWaiting(ad.status)" class="btn btn-info btn-block">Deactivate</button>
                    <button ng-click="edit(ad.id)" ng-show="!isPublishedOrWaiting(ad.status)" class="btn btn-info btn-block">Edit</button>
                    <button ng-click="publishAgain(ad.id)" ng-show="!isPublishedOrWaiting(ad.status)" class="btn btn-info btn-block">Publish Again</button>
                    <button ng-click="delete(ad)" ng-show="!isPublishedOrWaiting(ad.status)" class="btn btn-info btn-block">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <div class="well margin-top-15" ng-show="!ads.numItems">
        Sorry, we don't have any advertisement matching these criterias...
    </div>
    <!--    Pagination-->
    <div class="row text-center" ng-show="ads.numItems > itemsPerPage">
        <pagination total-items="ads.numItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-click="loadPage()"></pagination>
    </div>
</div>
    
